body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.Navbar {
    width: 100%;
    background-color: #3498db ;
    margin-top: 0;
    position: fixed; 
    top: 0; 
    display: flex;
    justify-content: space-between;
}
.Navbar:hover{
    background-color: #2980b9;
}
.contenedor{
    margin-top: 80px;
    display: flex;
}

.empresa{
    flex: 1;
    margin-left: 10px;
    margin-top: 18px;
    margin-bottom: 16px;
    margin-right: 4px;
    width: -8px;
    text-decoration: none;
    font-size: 30px;
    color: black;
    padding-right: 16px;
}

.login{
    margin-top: 18px;
    margin-bottom: 16px;
    margin-right: 4px;
    width: -8px;
    text-decoration: none;
    font-size: 30px;
    color: black;

    padding-right: 16px;
    border-right: solid 1px #cccc;
}
.login:hover{
    color: blue;
}

.carrito{
    margin-top: 20px;

    margin-right: 6px;
    height: 45px;
    padding-right: 16px;
    border-right: solid 1px #cccc;
    margin-left: 6px;
    color: white;
}

.descripcion{
    margin-top: 20px;
    width: 50%;
    height: 500px;
    margin-left: 40px;
    
    border: solid 1px #cccc;
    background-color: white;
   
}
.imagen{
    margin-top: 50px;
    margin-left: 140px;
    margin-bottom: 140px;
}
.descripcion h3{
    margin-left: 20px;
    margin-right: 10px;
}
.precio{
    margin-top: 20px;
    width: 40%;
    height: 500px;
    margin-right: 20px;
    border: solid 1px #cccc;
    background-color: #cccc;
}

.precio h3{
    font-size: 40px;
    margin-left: 6%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.precio h2{
    margin-left: 200px;

}
.boton{
    margin-top: 140px;
    margin-left: 20px;
    height: 45px;
    width: 90%;
    background-color: steelblue;
    border-radius: 8px;
    display: flex;
    align-items: center;
}
.boton a{
    font-size: 25px;
    margin-left: 110px;

    text-decoration: none;
    color: black;
}

.boton:hover{
    background-color: red;
}
.boton a:hover{
    color: white;
}
.footer {
    width: 100%;
    background-color: #2c3e50;
    margin-top: 50px;
    top: 0; 

    display: flex;
    justify-content: flex-start;
}
.footer h2{
    color: #ecf0f1;
    font-size: 20px;
}
@media  screen and (max-width: 900px){
    .contenedor{
        margin-top: 30px;
        display: block;
    
    }
    .descripcion{
        width: 400px;
        height: 500px;
        margin-top: 100px;
        margin-bottom: 0;
        margin-left: 300px;
        margin-right: 0;
        align-items: center;
        justify-content: center;
    }
    .imagen img{
        margin-top: 10px;
        margin-left: 0;
        margin-right: 0;
        width: 200px;
    }
        
    
    .precio{
        margin-top: 0;
        margin-bottom: 10px;
        margin-left: 300px;
        width: 400px;
        height: 600px;
    }

}
@media  screen and (max-width: 700px){
    .descripcion{
        margin-left: 150px;
    }
    .precio{
        margin-left: 150px;


    }
}
@media  screen and (max-width: 600px){
    .descripcion{
        margin-left: 50px;
    }
    .precio{
        margin-left: 50px;


    }
}
@media  screen and (max-width: 460px){
    .descripcion{
        margin-left: 10px;
    }
    .precio{
        margin-left: 10px;


    }
}