body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.Navbar {
    width: 100%;
    background-color: #ED9455;
    margin-top: 0;
    position: absolute; 
    top: 0; 
    display: flex;
    justify-content: space-between;
}
.contenedor{
    margin-top: 80px;
}

.empresa{
    flex: 1;
    margin-left: 10px;
    margin-top: 18px;
    margin-bottom: 16px;
    margin-right: 4px;
    width: -8px;
    text-decoration: none;
    font-size: 30px;
    color: black;
    padding-right: 16px;
}

.login{
    margin-top: 18px;
    margin-bottom: 16px;
    margin-right: 4px;
    width: -8px;
    text-decoration: none;
    font-size: 30px;
    color: black;

    padding-right: 16px;
    border-right: solid 1px #cccc;
}
.login:hover{
    color: blue;
}

.carrito{
    margin-top: 20px;

    margin-right: 6px;
    height: 45px;
    padding-right: 16px;
    border-right: solid 1px #cccc;
    margin-left: 6px;
    color: white;
}
.contenedor{
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
}
.contenedor-dos{
    background-color: #D9EDBF;
    height: 600px;
    width: 500px;
    margin-top: 150px;
    margin-bottom: 100px;
    border: solid 1px rgb(112, 107, 107);
    border-radius: 5px ;
    box-shadow: -8px -8px 4px rgb(112, 107, 107);
}
.titulo{
    font-size: 30px;
    padding: 20px 100px 20px 100px;
    margin: 40px 60px 20px 60px;
}
.usuario{
    margin-left: 20px;
}

 .usuario input{
    width: 90%;
    height: 30px;
    border-radius: 6px;
}

.correo-electronico{
    margin-left: 20px;
}
 .correo-electronico input{
    width: 90%;
    height: 30px;
    border-radius: 6px;
}
.clave{
    margin-left: 20px;
}
 .clave input{
    width: 90%;
    height: 30px;
    border-radius: 6px;
    margin-bottom: 8px;
}
.registrarse{
    margin-left: 20px;
    width: 90%;
    height: 38px;
    background-color: #000000;
    border-radius: 10px;
}
.registrarse a{
    font-size: 30px;
    text-decoration: none;
    color: white;
    margin-left: 25%;
}
.iniciar-sesion{
    margin-left: 20px;
}
.iniciar-sesion h2{
    font-size: 20px;
    margin-left: 23%;
}
.iniciar-sesion-dos{
    width: 94%;
    height: 38px;
    background-color: #000000;
    border-radius: 10px;
}
.iniciar-sesion-dos a{
    font-size: 30px;
    text-decoration: none;
    color: white;
    margin-left: 27%;
}

.footer {
    width: 100%;
    background-color: #ED9455;
    margin-top: 50px;
    top: 0; 

    display: flex;
    justify-content: center;
}
@media  screen and (max-width: 700px) {
    .contenedor-dos{
        height: 600px;
        width: 400px;
    }
    .titulo{
        margin-left: 30px;
    }
}